<html>
	<head>
		<title> Playsmid </title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script type="text/javascript" src="/particles.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Raleway:500,800" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
	</head>
	<body>
		<script src="particles.js"></script>
		<script src="app.js"></script>
		<div id="particles-js">
			<h1>Playsmid</h1>
			<p>Welcome to Playsmid, a puzzle-based synthetic biology simulator.
			Synthetic biology is the new frontier of genetic engineering. By changing (transforming) the genes inside of a cell, you can program it to do novel and useful functions that it otherwise could not. For example, bacteria could be engineered to detect dangerous metals or hormones in water, and give a visual response to alert us of the contaminant. Or, yeast could be engineered to turn sugar into useful, expensive molecules for us to harvest. Genes, promoters, and reporters can be hooked up into different combinations to make endless possibilities.
			</p>
			<center><h3><a href="/play">Play now!</a></h3></center>
		</div>
	</body>
</html>