<html>
	<head>
		<title> Playsmid </title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script type="text/javascript" src="/particles.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Raleway:400, 800" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
	</head>
	<body>
		<script src="particles.js"></script>
		<script src="app.js"></script>
		<div id="particles-js">
			<h1>Playsmid</h1>
			<center><p><a href="/play">Play now!</a></p></center>
		</div>
	</body>
</html>