<html>
	<head>
		<title>Level 1</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	</head>
	<body>
		<footer>
			<div class="tools">
				<h2>TOOLS</h2>
			</div>
		</footer>
	</body>
</html>