<html>
	<head>
		<title>Level 1</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet">
	</head>
	<body>

		<div class="petri">
			<img src="/SVGs/Art/OutBaseStatic.svg">
		</div>

		<div class="hints">
			<h3>INSTRUCTIONS</h3>
		</div>

		<footer>
			<div class="tools">
				<h2>TOOLS</h2>
			</div>
		</footer>
	</body>
</html>