<html>
	<head>
		<title>Level 1</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,700,800" rel="stylesheet">
	</head>
	<body>

		<div class="petri">
			<img src="/SVGs/Art/OutBaseStatic.svg">
		</div>

		<div class="hints">
			<h3>Level: {{level.level}} </h3>
			<p>This cell is a {{level.cellName}} cell.</p>
		</div>

		<footer>
			<div class="tools">
				<h2>TOOLS</h2>
				<div>
					<div class="promoTool">
						<p>
							A
							<img src="/SVGs/Items and Slots/InputPromoterHorizontal.svg">
						</p>
					</div>
					<div class="promoTool">
						<p>
							<font color=#1a1a1a>
A
							<img src="/SVGs/Items and Slots/InputPromoterHorizontal.svg">
						</p>
					</div>
					<div class="promoTool">
						<p>
							A
							<img src="/SVGs/Items and Slots/InputPromoterHorizontal.svg">
						</p>
					</div>
				</div>
				<div>
					<div class="geneTool">
						<p>GENE</p>
					</div>
					<div class="geneTool">
						<p>GENE</p>
					</div>
					<div class="geneTool">
						<p>GENE</p>
					</div>
				</div>
				<div>
					<div class="markerTool">
						<p>M</p>
					</div>
					<div class="markerTool">
						<p>M</p>
					</div>
					<div class="markerTool">
						<p>M</p>
					</div>
				<div>
			</div>
		</footer>
	</body>
</html>