html,body 
{
	padding: 0;
	margin: 0;
	overflow: hidden;
}

canvas
{
    display: block;
	vertical-align: bottom;
}

h1
{
	font-family: 'Bungee Inline', cursive;
	font-kerning: auto;
	font-size: 3em;
	text-align: center;
	color: #fff;
	//text-transform: uppercase;
	position: absolute;
	top: 30%;
	left: 40%;
}

#particles-js 
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #1a1a1a;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.petri
{
	width: 300px;
	height: 300px;
	position: absolute;
	left: 5%;
	top: 50px;
}

.petri img 
{
	height: 100%;
	width: 100%;
}


.hints 
{
	position: absolute;
	right: 0;
	height: 500px;
	width: 300px;
	background: #fff;
	box-shadow: -1px 1px 1px 1px #eee;
}

h3
{
	font-family: 'Raleway', sans-serif;
	color: #aaa;
	font-weight: 800;
	font-size: 1em;
	margin-left: 10%;
}


footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #eee;
	padding: 50px 0;
}

.tools 
{
	width: 200px;
	height: 100px;
	background: none;
	position: relative;
	left: 80%;
}

h2 
{
	font-family: 'Raleway', sans-serif;
	color: #aaa;
	font-size: 1em;
	font-weight: 800;
}








