html, body
{
	padding: 0;
	margin: 0;
	overflow: hidden;
}

canvas
{
    display: block;
	vertical-align: bottom;
}

h1
{
	font-family: 'Bungee Inline', cursive;
	font-kerning: auto;
	font-size: 3em;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 30%;
	left: 40%;
}

#particles-js 
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #1a1a1a;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.petri
{
	width: 300px;
	height: 300px;
	position: absolute;
	left: 5%;
	top: 50px;
}

.petri img 
{
	height: 100%;
	width: 100%;
}


.hints 
{
	position: absolute;
	right: 0;
	height: 100%;
	width: 300px;
	background: #fff;
	box-shadow: -1px 1px 1px 1px #eee;
	z-index: 5;
}

h3
{
	font-family: 'Raleway', sans-serif;
	color: #aaa;
	font-weight: 800;
	font-size: 1em;
	margin-left: 10%;
}

p
{
	font-family: 'Raleway', sans-serif;
	color: #aaa;
	font-weight: 400;
	font-size: 0.8em;
	margin-left: 10%;
}


footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #eee;
	padding: 20px 0;
}

.tools 
{
	border-radius: 15px;
	width: 300px;
	height: 150px;
	background: none;
	position: relative;
	left: 5%;
	//border: 3px solid #73AD21;
}

.promoTool
{
	border-radius: 5px;
	width: 50px;
	height: 50px;
	position: relative;
	left: 2%;
	background: none;
	//border: 3px solid #73AD21;
	display: inline-block;
	padding-left: 5px;
}

.promoTool p
{
	color: #1a1a1a;
}

.geneTool 
{
	padding: 5px;
	//margin-bottom: 10px;
	//margin-right: 5px;
	height: 50px;
	width: 50px;
	position: relative;
	left: 2%;
	background: #1abc9c;
	//border: 3px solid #73AD21;
	display: inline-block;
	padding-left: 5px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.geneTool p
{
	color: #fff;
	height: 100%;
	width: 100%;
}

.markerTool
{
	
	background: #1a1a1a;
	position: relative;
	left: 2%;
	display: inline-block;
	margin-right: 10px;
	box-sizing: border-box;
}

h2 
{
	font-family: 'Raleway', sans-serif;
	color: #1a1a1a;
	font-size: 1em;
	font-weight: 800;
	margin-left: 2%;
}

p
{
	font-family: 'Raleway', sans-serif;
	color: #aaa;
	font-size: 0.6em;
	font-weight: 800;
	//text-align: center;
	font-kerning: auto;
}

button 
{
	height: 200px;
	width: 200px;
	background: #111;
	position: relative;
	left: 20%;
	top: -20%;
}





